{name, "encurses"}.
{authors, ["Jeff Zellner <jeff.zellner@gmail.com>"]}.
{description, "A NIF-based ncurses library for Erlang"}.
{homepage, "https://github.com/sofuture/encurses"}.
{rebar_compatible, true}.
{license, "Other","Other"}.
{url, {git, "https://github.com/sofuture/encurses.git", {branch, "master"}}}.
{applications, [encurses]}.
